services:
  database:
    image: postgres:15-alpine
    container_name: database
    restart: always
    environment:
      - POSTGRES_USER=${DATABASE_USER:-postgres}
      - POSTGRES_PASSWORD=${DATABASE_PASSWORD:-postgres}
      - POSTGRES_DB=${DATABASE_NAME:-kodrink}
    env_file:
      - ../../.env
    ports:
      - "${DATABASE_PORT:-5432}:5432"
    volumes:
      - ./data:/var/lib/postgresql/data
    networks:
      - app-network
