services:
  web:
    build:
      context: .
      dockerfile: Dockerfile
      args:
      - NODE_ENV=production
    ports:
      - "80:80"
    environment:
      - NODE_ENV=production
    env_file:
      - ../.env