services:
  web:
    build:
      context: .
      dockerfile: Dockerfile.dev
      args:
        NODE_ENV: development
    container_name: web
    expose:
      - ${WEB_PORT:-3000}
    environment:
      - NODE_ENV=development
    env_file:
      - ../.env
    volumes:
      - .:/app
      - /app/node_modules
    networks:
      - app-network
