services:
  web:
    build:
      context: .
      dockerfile: Dockerfile
      args:
        - NODE_ENV=production
    expose:
      - 80
    environment:
      - NODE_ENV=production
    env_file:
      - ../.env
