services:
  api:
    build:
      context: .
      dockerfile: Dockerfile.dev
    container_name: api
    expose:
      - ${API_PORT:-4000}
    environment:
      - NODE_ENV=development
    env_file:
      - ../../.env
    volumes:
      - .:/app
      - /app/node_modules
    networks:
      - app-network
