services:
  redis:
    image: redis:alpine
    container_name: redis
    restart: always
    env_file:
      - ../../.env
    ports:
      - "${REDIS_PORT:-6379}:6379"
    networks:
      - app-network
